.mainHeader {
  display: flex;
  background-color: #bc1515;
  height: 12vh;
  position: absolute;
  top: 0;
}

.mainTitle {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: white;
  font-size: 4vw;
  align-items: center;
}
