body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.cardProfil h2 {
  font-family: "Mountains of Christmas", serif;
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

.returnButton {
  position: absolute;
  border-radius: 200px;
  background-color: white;
  width: 4vw;
  padding-top: 4px;
  align-items: center;
  color: black;
  font-size: 2.5vw;
  left: 2vw;
  top: 2vw;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  z-index: 4;
}

$globe-width: 12px;
$globe-height: 28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

body {
  background: #000;
}
.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 7vw;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread
      rgba(0, 247, 165, 1);
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n + 1) {
      background: rgba(0, 255, 255, 1);
      box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread
        rgba(0, 255, 255, 0.5);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n + 2) {
      background: rgba(247, 0, 148, 1);
      box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread
        rgba(247, 0, 148, 1);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n + 1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}
@keyframes flash-1 {
  0%,
  100% {
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread
      rgba(0, 247, 165, 1);
  }
  50% {
    background: rgba(0, 247, 165, $light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread
      rgba(0, 247, 165, 0.2);
  }
}
@keyframes flash-2 {
  0%,
  100% {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread
      rgba(0, 255, 255, 1);
  }
  50% {
    background: rgba(0, 255, 255, $light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread
      rgba(0, 255, 255, 0.2);
  }
}
@keyframes flash-3 {
  0%,
  100% {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread
      rgba(247, 0, 148, 1);
  }
  50% {
    background: rgba(247, 0, 148, $light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread
      rgba(247, 0, 148, 0.2);
  }
}


$BG_COLOR: #1c8f8c;
$REINDEER_COLOR: #654321;
$REINDEER_HORN_COLOR: #DEB887;
$SLEIGH_COLOR: #8B0000;
$SANTA_CLOTHE: #d63527;
$SANTA_FACE_COLOR: #fde2b7;
$SANTA_BEARD_COLOR: #fff;
$SANTA_EYEBROWS_COLOR: #fff;
$SANTA_EYE_COLOR: #000;
$SANTA_NOSE_COLOR: #f7d194;
$SANTA_CHEEK_COLOR: #f4cfe3;


.sleigh-santa {
  position: absolute;
  bottom: 6%;
  left: 100px;
  width: 295px;
  height: 155px;
  transform: rotate(-1deg);
  animation: bouger 8s infinite;
}

.santa {
  $base: &;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 125px;
  height: 107px;
  z-index: 10;
  &--sleigh {
    bottom: 0;
    left: 0;
    transform: rotateY(180deg);
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: $SLEIGH_COLOR;
    }
    &:before {
      left: -10px;
      width: 129px;
      height: 30px;
      border-radius: 5px 5% 10px 65%;
      transform: rotate(0);
      z-index: 10;
      border-bottom: 2px solid #DAA520;
    }
    &:after {
      border: 2px solid #DAA520;
      left: 70px;
      bottom: 0px;
      width: 50px;
      height: 57px;
      border-radius: 50% 10px 16px 10px;
      transform: rotate(1deg);
      box-shadow: -98px -2px 0px -18px $SLEIGH_COLOR;
    }
    #{$base} {
      &__hand--left {
        #{$base}__hand-inner {
          animation: sleigh-santa-hand-left 1s linear alternate infinite;
        }
      }
      &__hand--right {
        transform: rotate(25deg);
        border-radius: 10px;
        height: 7px;
        animation: sleigh-santa-hand-right 1s linear alternate infinite;
        &:before {
          content: "";
          position: absolute;
          width: 8px;
          height: 7px;
          top: -2px;
          left: -6px;
          background-color: #000;
          border-radius: 50%;
          transform: rotate(10deg);
        }
      }
      &__foot {
        display: none;
      }
    }
  }
  &__hat {
    &-part {
      position: absolute;
      top: 7px;
      left: 31px;
      width: 43px;
      height: 58px;
      border-radius: 50%;
      transform: rotate(28deg);
      background-color: $SANTA_CLOTHE;
      &:before,
      &:after {
        content: "";
        position: absolute;
      }
      &:nth-of-type(1) {
        &:before {
          top: 9px;
          left: 45px;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #fff;
          animation: santa-hat-bobble 1s linear alternate infinite;
        }
        &:after {
          top: 3px;
          left: 19px;
          width: 30px;
          height: 7px;
          border-radius: 50%;
          transform: rotate(22deg);
          background-color: $SANTA_CLOTHE;
          animation: santa-hat-main 1s linear alternate infinite;
        }
      }
      &:nth-of-type(2) {
        position: absolute;
        top: 18px;
        left: 31px;
        width: 44px;
        height: 34px;
        border-radius: 50%;
        transform: rotate(12deg);
        background-color: #fff;
      }
    }
  }
  &__face {
    position: absolute;
    top: 25px;
    left: 37px;
    width: 31px;
    height: 17px;
    border-radius: 20px 20px 50% 50%;
    transform: rotate(10deg);
    background-color: $SANTA_FACE_COLOR;
    z-index: 10;
  }
  &__beard {
    &-part {
      position: absolute;
      top: 8px;
      left: -14px;
      width: 15px;
      height: 17px;
      border-radius: 50%;
      background-color: $SANTA_BEARD_COLOR;
      &:before,
      &:after {
        content: "";
        position: absolute;
        background-color: $SANTA_BEARD_COLOR;
      }
      &:before {
        top: 12px;
        left: 1px;
        width: 15px;
        height: 17px;
        border-radius: 50%;
      }
      &:nth-of-type(2) {
        top: 16px;
        left: -8px;
        width: 26px;
        height: 30px;
        &:before {
          top: 16px;
          left: 13px;
          width: 19px;
          height: 17px;
        }
        &:after {
          top: 1px;
          left: 13px;
          width: 19px;
          height: 17px;
        }
      }
      &:nth-of-type(3) {
        top: 16px;
        left: 14px;
        width: 27px;
        height: 28px;
        &:before {
          top: -4px;
          left: 13px;
          width: 17px;
          height: 17px;
        }
      }
    }
  }
  &__eyebrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 7px;
    border-radius: 50%;
    background-color: $SANTA_EYEBROWS_COLOR;
    &--left {
      top: 1px;
      left: 4px;
      transform: rotate(65deg);
    }
    &--right {
      top: 2px;
      left: 22px;
      transform: rotate(-65deg);
    }
  }
  &__eye {
    position: absolute;
    top: 8px;
    left: 2px;
    width: 3px;
    height: 4px;
    border-radius: 50%;
    background-color: $SANTA_EYE_COLOR;
    &--left {
      top: 8px;
      left: 2px;
    }
    &--right {
      top: 8px;
      left: 20px;
    }
  }
  &__nose {
    position: absolute;
    top: 10px;
    left: 6px;
    width: 12px;
    height: 9px;
    border-radius: 50%;
    z-index: 10;
    background-color: $SANTA_NOSE_COLOR;
  }
  &__cheek {
    position: absolute;
    top: 10px;
    left: 6px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    z-index: 10;
    background-color: $SANTA_CHEEK_COLOR;
    &--left {
      top: 12px;
      left: -3px;
    }
    &--right {
      top: 13px;
      left: 22px;
    }
  }
  &__body {
    position: absolute;
    top: 54px;
    left: 16px;
    width: 88px;
    height: 53px;
    &:before {
      content: "";
      position: absolute;
      top: -23px;
      right: -10px;
      width: 53px;
      height: 51px;
      border-radius: 42% 50%;
      background-color: #362312;
      z-index: -1;
      box-shadow: 10px -21px 0px -20px #e1b12c, 15px -30px 0px -18px #362312;
      animation: santa-sac 0.6s linear alternate infinite;
    }
    &-top {
      top: -3px;
      left: 10px;
      position: absolute;
      width: 45px;
      height: 39px;
      border-radius: 50% 50% 10% 10%;
      background-color: $SANTA_CLOTHE;
      z-index: 5;
      &:before {
        content: "";
        top: 28px;
        left: 0px;
        position: absolute;
        width: 45px;
        height: 5px;
        background-color: #000;
        transform: rotate(1deg);
      }
      &:after {
        content: "";
        top: 27px;
        left: 10px;
        position: absolute;
        width: 7px;
        height: 5px;
        background-color: #000;
        border: 1px solid #fff;
        border-radius: 3px;
        transform: rotate(1deg);
      }
    }
    &-bottom {
      position: absolute;
      top: 18px;
      left: 10px;
      width: 44px;
      height: 23px;
      border-radius: 50%;
      background-color: $SANTA_CLOTHE;
    }
  }
  &__hand {
    position: absolute;
    &--left {
      top: 5px;
      left: 19px;
      width: 33px;
      height: 30px;
      overflow: hidden;
      #{$base}__hand-inner {
        position: absolute;
        top: 10px;
        left: 8px;
        width: 49px;
        z-index: 100;
        height: 7px;
        border-radius: 10px;
        transform: rotate(12deg);
        background-color: $SANTA_CLOTHE;
        animation: santa-hand-left 1s linear alternate infinite;
        &:before {
          content: "";
          position: absolute;
          width: 8px;
          height: 7px;
          top: -2px;
          left: -6px;
          background-color: #000;
          border-radius: 50%;
          transform: rotate(25deg);
        }
      }
    }
    &--right {
      top: 4px;
      left: 3px;
      width: 11px;
      height: 8px;
      transform: rotate(-60deg);
      border-radius: 50%;
      background-color: $SANTA_CLOTHE;
    }
  }
}

.lead {
  position: absolute;
  top: 92px;
  left: 84px;
  width: 182px;
  height: 33px;
  overflow: hidden;
  z-index: 10;
  transform: rotate(0deg);
  animation: sleigh-santa-lead-right 1s linear alternate infinite;
  &--back {
    top: 85px;
    left: 105px;
    width: 149px;
    transform: rotate(4deg);
    z-index: 0;
    animation: sleigh-santa-lead-left 1s linear alternate infinite;
  }
  &-inner {
    position: absolute;
    bottom: 0;
    left: -12px;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #fff;
    border-radius: 50%;
  }
}

.sleigh-feet {
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 145px;
  height: 11px;
  transform: rotate(-5deg);
  border-bottom: 5px solid #996515;
  border-right: 5px solid #996515;
  border-radius: 10px;
  z-index: 2;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #996515;
  }
  &:before {
    top: 2px;
    left: 34px;
    height: 9px;
  }
  &:after {
    top: 3px;
    left: 108px;
    width: 5px;
    height: 8px;
  }
}

.reindeer {
  $base: &;
  position: absolute;
  width: 115px;
  height: 155px;
  right: 5px;
  top: 17px;
  transform: rotate(25deg);
  z-index: 0;
  &:before {
    content: "";
    position: absolute;
    top: 65px;
    left: 76px;
    width: 8px;
    height: 31px;
    background-color: $SLEIGH_COLOR;
    z-index: 10;
    transform: rotate(-55deg);
  }
  &:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #DAA520;
    z-index: 11;
    left: 64px;
    top: 68px;
    box-shadow: 8px 6px 0 0 #DAA520, 18px 13px 0 0 #DAA520, 26px 18px 0 0 #DAA520;
  }
  &__face {
    position: absolute;
    width: 30px;
    height: 22px;
    top: 44px;
    left: 72px;
    border-radius: 10px 10px 50% 50%;
    transform: rotate(-3deg);
    background-color: $REINDEER_COLOR;
    animation: reindeer-face 1.6s linear alternate infinite;
    &:before {
      content: "";
      position: absolute;
      background-color: $REINDEER_COLOR;
      width: 29px;
      height: 16px;
      border-radius: 50%;
      top: 0px;
      left: 11px;
      transform: rotate(-49deg);
    }
    &:after {
      content: "";
      position: absolute;
      background-color: $SLEIGH_COLOR;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: -8px;
      left: 31px;
    }
  }
  &__horn {
    position: absolute;
    width: 29px;
    height: 4px;
    top: -7px;
    left: -21px;
    border-radius: 2px;
    transform: rotate(38deg);
    background-color: $REINDEER_HORN_COLOR;
    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $REINDEER_HORN_COLOR;
      border-radius: 2px;
    }
    &--left {
      top: -7px;
      left: -21px;
      &:before {
        top: -4px;
        left: 6px;
        width: 14px;
        height: 4px;
        transform: rotate(43deg);
      }
      &:after {
        top: -4px;
        left: 13px;
        width: 14px;
        height: 4px;
        -webkit-transform: rotate(43deg);
        transform: rotate(53deg);
      }
    }
    &--right {
      top: -12px;
      left: -6px;
      width: 24px;
      transform: rotate(62deg);
      &:before {
        top: -3px;
        left: 5px;
        width: 10px;
        height: 4px;
        transform: rotate(43deg);
      }
      &:after {
        top: -3px;
        left: 11px;
        width: 10px;
        height: 4px;
        transform: rotate(53deg);
      }
    }
  }
  &__ear {
    position: absolute;
    width: 21px;
    height: 11px;
    top: 4px;
    left: -18px;
    border-radius: 4px 0 50% 50%;
    transform: rotate(4deg);
    background-color: $REINDEER_COLOR;
    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: 34px;
      width: 4px;
      height: 5px;
      border-radius: 50%;
      transform: rotate(-35deg);
      background-color: #000;
    }
  }
  &__body {
    position: absolute;
    width: 58px;
    height: 31px;
    top: 84px;
    left: 28px;
    border-radius: 50% 0;
    transform: rotate(-3deg);
    background-color: $REINDEER_COLOR;
    &:before {
      content: "";
      position: absolute;
      width: 46px;
      height: 26px;
      top: -15px;
      left: 32px;
      border-radius: 0 0 50% 50%;
      -webkit-transform: rotate(-3deg);
      transform: rotate(-55deg);
      background-color: $REINDEER_COLOR;
    }
    &:after {
      content: "";
      position: absolute;
      width: 43px;
      height: 26px;
      top: -11px;
      left: 29px;
      border-radius: 0 0 50% 50%;
      -webkit-transform: rotate(-3deg);
      transform: rotate(-30deg);
      background-color: $REINDEER_COLOR;
    }
  }
  &__foot {
    &-inner {
      position: absolute;
      &:before,
      &:after {
        content: "";
        position: absolute;
      }
    }
    &--inside {
      z-index: 2;
      transform: rotate(-12deg) translate(3px, 0px);
    }
    &--front {
      #{$base}__foot-inner {
        width: 40px;
        height: 8px;
        top: 13px;
        left: 35px;
        border-radius: 0 50%;
        transform: rotate(-17deg);
        transform-origin: center;
        background-color: $REINDEER_COLOR;
        animation: reindeer-front 1.6s linear alternate infinite;
        &:before {
          width: 28px;
          height: 8px;
          top: 0px;
          left: 37px;
          border-radius: 2px 50%;
          transform: rotate(131deg);
          background-color: $REINDEER_COLOR;
          animation: reindeer-front-ext 1.7s linear alternate infinite;
        }
        &:after {
          width: 8px;
          height: 9px;
          top: 27px;
          left: 32px;
          border-radius: 2px;
          transform: rotate(131deg);
          background-color: #362514;
          animation: reindeer-front-ext-hoof 1.7s linear alternate infinite;
        }
      }
    }
    &--back {
      #{$base}__foot-inner {
        width: 56px;
        height: 9px;
        top: 35px;
        left: -29px;
        border-radius: 0 50%;
        transform: rotate(-73deg);
        background-color: $REINDEER_COLOR;
        animation: reindeer-back 1.7s linear alternate infinite;
        &:before {
          width: 25px;
          height: 16px;
          top: 4px;
          left: 25px;
          border-radius: 0 50%;
          transform: rotate(15deg);
          background-color: $REINDEER_COLOR;
        }
        &:after {
          width: 8px;
          height: 9px;
          top: -2px;
          left: -2px;
          border-radius: 2px 0 2px 2px;
          transform: rotate(14deg);
          background-color: #362514;
        }
      }
    }
  }
  &__tail {
    position: absolute;
    width: 27px;
    height: 26px;
    top: 6px;
    left: -8px;
    border-radius: 50% 2px;
    transform: rotate(-17deg);
    background-color: $REINDEER_COLOR;
    &:before {
      content: "";
      position: absolute;
      background-color: $REINDEER_COLOR;
      border-radius: 50%;
      top: -2px;
      left: -3px;
      width: 15px;
      height: 5px;
      transform: rotate(25deg);
    }
  }
  &__spots {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 6px;
    left: 8px;
    border-radius: 50% 2px;
    background-color: $REINDEER_HORN_COLOR;
    box-shadow: 5px 5px 0 0 $REINDEER_HORN_COLOR, -5px 5px 0 0 $REINDEER_HORN_COLOR;
  }
}

.particles {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: transparent;
  transform: rotate(45deg);
  z-index: -10;
  &:before,
  &:after {
    position: absolute;
    content: "";
    background-color: #FFF;
  }
  &:after {
    left: 0px;
    top: 0px;
    width: 4px;
    height: 4px;
    transform: rotate(-5deg);
    animation: particles 4s linear infinite;
    box-shadow: -20px 15px 0px 0px #FFF, -40px -5px 0px 0px #FFF, -20px 45px 0px 0px #FFF, -50px 30px 0px 0px #FFF, 30px -20px 0px 0px #FFF, 50px -60px 0px 0px #FFF, 100px -110px 0px 0px #FFF, 140px -160px 0px 0px #FFF, 50px -90px 0px 0px #FFF, 100px -140px 0px 0px #FFF, 140px -190px 0px 0px #FFF, -40px 15px 0px -1px #FFF, -60px -5px 0px -1px #FFF, -40px 45px 0px -1px #FFF, -70px 30px 0px -1px #FFF, 50px -20px 0px -1px #FFF, 70px -60px 0px -1px #FFF, 120px -110px 0px -1px #FFF, 160px -160px 0px -1px #FFF, 70px -90px 0px -1px #FFF, 120px -140px 0px -1px #FFF, 160px -190px 0px -1px #FFF, 0px 15px 0px -2px #FFF, -20px -5px 0px -2px #FFF, 0px 45px 0px -2px #FFF, -30px 30px 0px -2px #FFF, 10px -20px 0px -2px #FFF, 30px -60px 0px -2px #FFF, 80px -110px 0px -2px #FFF, 120px -160px 0px -2px #FFF, 30px -90px 0px -2px #FFF, 80px -140px 0px -2px #FFF, 120px -190px 0px -2px #FFF;
  }
  &:before {
    left: 10px;
    top: 0px;
    width: 2px;
    height: 2px;
    transform: rotate(-10deg);
    animation: particles 5s linear infinite;
    box-shadow: -20px 15px 0px 0px #FFF, -40px -5px 0px 0px #FFF, -20px 45px 0px 0px #FFF, -50px 30px 0px 0px #FFF, 30px -20px 0px 0px #FFF, 50px -60px 0px 0px #FFF, 100px -110px 0px 0px #FFF, 140px -160px 0px 0px #FFF, 50px -90px 0px 0px #FFF, 100px -140px 0px 0px #FFF, 140px -190px 0px 0px #FFF, -40px 15px 0px -1px #FFF, -60px -5px 0px -1px #FFF, -40px 45px 0px -1px #FFF, -70px 30px 0px -1px #FFF, 50px -20px 0px -1px #FFF, 70px -60px 0px -1px #FFF, 120px -110px 0px -1px #FFF, 160px -160px 0px -1px #FFF, 70px -90px 0px -1px #FFF, 120px -140px 0px -1px #FFF, 160px -190px 0px -1px #FFF, 0px 15px 0px -2px #FFF, -20px -5px 0px -2px #FFF, 0px 45px 0px -2px #FFF, -30px 30px 0px -2px #FFF, 10px -20px 0px -2px #FFF, 30px -60px 0px -2px #FFF, 80px -110px 0px -2px #FFF, 120px -160px 0px -2px #FFF, 30px -90px 0px -2px #FFF, 80px -140px 0px -2px #FFF, 120px -190px 0px -2px #FFF;
  }
}

@keyframes reindeer-face {
  0% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes reindeer-back {
  0% {
    transform: rotate(-81deg) translate(-6px, 0px);
  }
  100% {
    transform: rotate(-60deg) translate(0px, 0px);
  }
}

@keyframes reindeer-front {
  0% {
    transform: rotate(-24deg);
  }
  100% {
    transform: rotate(-13deg);
  }
}

@keyframes reindeer-front-ext {
  0% {
    transform-origin: left;
    transform: rotate(55deg);
  }
  100% {
    transform-origin: left;
    transform: rotate(145deg);
  }
}

@keyframes reindeer-front-ext-hoof {
  0% {
    // forward
    transform-origin: left top;
    transform: rotate(-32deg) translate(14px, 1px);
  }
  100% {
    // backwards
    transform-origin: left top;
    transform: rotate(52deg) translate(-21px, 0px);
  }
}

@keyframes sleigh-santa-lead-left {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@keyframes sleigh-santa-hand-left {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@keyframes sleigh-santa-lead-right {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@keyframes sleigh-santa-hand-right {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes santa-hat-main {
  0% {
    transform-origin: left;
    transform: rotate(-15deg);
  }
  100% {
    transform-origin: left;
    transform: rotate(15deg);
  }
}

@keyframes santa-hat-bobble {
  0% {
    transform: translate(0px, -15px);
  }
  100% {
    transform: translate(0px, 5px);
  }
}

@keyframes santa-sac {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes particles {
  0% {
    transform: translate(20px, -20px);
    opacity: 1;
  }
  100% {
    transform: translate(-80px, 80px);
    opacity: 0;
  }
}

@keyframes bouger {
  0% { transform: translateX(-200px); }
  // 50% { transform: translateX(1400px); }
  100% { transform: translateX(1500px); }
}