.gameContainer {
  display: block;
}
.coinMachine {
  width: 60vw;
  height: 90vh;
  margin-top: 8vh;
  margin-left: 7vw;
}

.bar {
  position: absolute;
  top: 31%;
  right: 38.1%;
  width: 5vw;
  z-index: 2;
  transition: transform 0.5s ease;
  transform-origin: bottom;
}

.handleBar.clicked .bar {
  transform: rotateX(130deg);
}
